/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [DocumentKey]
      ,[IsSystem]
      ,[Blob]
      ,[DefaultChildAccessKey]
      ,[UpdatedByUserKey]
      ,[UpdatedOn]
      ,[LockedByUserKey]
      ,[LockedOn]
      ,[AccessKey]
      ,[CreatedByUserKey]
      ,[CreatedOn]
      ,[ContainsChildrenFlag]
      ,[DocumentVersionKey]
      ,[DocumentTypeCode]
      ,[DocumentStatusCode]
      ,[DocumentName]
      ,[DocumentDescription]
      ,[AlternateName]
      ,[StatusUpdatedOn]
      ,[StatusUpdatedByUserKey]
      ,[BranchedFromDocumentKey]
      ,[RelatedDocumentVersionKey]
      ,[VersionComment]
      ,[VersionLabel]
      ,[MarkedForDeleteOn]
      ,[DocumentCode]
      ,[SystemKey]
  FROM [SHM_iMIS].[dbo].[DocumentMain]
  where DocumentName like 'Photo-130.JPG'
  
  select datalength(Blob) 
  FROM [SHM_iMIS].[dbo].[DocumentMain]
  where DocumentKey = '7C3E077F-D0AE-4DF4-876C-D3FA577ED347'